.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.styling {
  margin: 10px;
  padding: 25px;
  border: 1px solid #cbced2;
  border-radius: 8px;
}
.btn {
  border: 3px solid #326a9d;
  color: #326a9d;
  font-weight: 600;
  font-size: 14px;
  padding: 10px;
  background-color: #ffffff;
}
.heading {
  color: #326a9d;
}
.description {
  color: #64748b;
}
